@font-face {
    font-family:'Poppins-Regular';
    src: url(../resources/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url(../resources/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url(../resources/fonts/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: 'Ultra-Regular';
    src: url(../resources/fonts/Ultra-Regular.ttf);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body{
    font-family: 'Poppins-Regular';
    scroll-behavior: smooth;
}
h1{
    font-family: 'Poppins-ExtraBold', sans-serif;
    font-size: 4rem;
}
p{
    font-family: 'Poppins-Regular';
    font-size: .8rem;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(21, 53, 105);
    width: 100%;
    max-width: 1300px;
    min-height: 3rem;
    transition: .4s;
    padding: 10px;
}
header img{
    width: 6rem;
    height: auto;
}
header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
}
header ul a{
    text-decoration: none;
    color: white;
    margin: 0 1rem;
    position: relative;
}
header ul a li{
    display: inline-block;
    text-decoration: none;
}
header ul a li::after{
    content: '';
    left: 0;
    top: 120%;
    position: absolute;
    width: 0%;
    height: 2px;
    transition: .4s;
    background-color: rgb(255, 255, 255);
}
header ul a li:hover::after{
    width: 100%;
}
.nav-navigation,
nav form i {
    cursor: pointer;
}
nav{
    top: 0;
    position: sticky;
    width: 100%;
    max-width: 1300px;
    height: 4rem;
    background-color: rgb(21, 53, 105);
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .3s;
    flex-wrap: wrap;
    z-index: 100;
}
nav .fa-bars,
nav .fa-times{
    display: none;
}
.nav-container img{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    height: auto;
    width: 10rem;
    margin: 10px;
    transition: .4s;
}
.nav-container{
    display: flex;
}
.nav-navigation{
    position: relative;
    width: 20%;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.nav-navigation a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}
.nav-navigation a i{
    margin: 0 5px;
}

.nav-description {
    width: 300px;
    background-color: rgb(255, 255, 255);
    left: 0;
    top: 85%;
    display: none;
    position: absolute;
    border-radius: 10px;
    z-index: 2;
    border: 1px solid rgb(180, 180, 180);
}
.nav-description a{
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
    position: relative;
    color: rgb(0, 0, 0);
}
.nav-description a::after{
    content: '';
    left: 5%;
    top: 80%;
    position: absolute;
    width: 0%;
    height: 2px;
    transition: .4s;
    background-color: rgba(0, 34, 88, 0.87);
}
.nav-description a:hover::after{
    width: 50%;
    transition: .4s;
}
.nav-navigation:hover .nav-description{
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    margin: 0 1rem;
}
form input{
    padding: 10px;
    outline: none;
    border: none;
    border-left: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
form .fa-search {
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: white;
    background-color: rgb(214, 214, 214);
}
@media only screen and (max-width: 720px){
    nav{
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        height: 3.5rem;
        flex-direction: column;
    }
    nav form{
        display: none;
        padding:5px 0 0 0;
    }
    h2{
        font-size: 2rem;
    }
    nav .fa-bars{
        display: flex;
        color: rgb(255, 255, 255);
        font-size: 2rem;
        cursor: pointer;
        padding: 10px 0;
        align-self: flex-start;
    }
    .nav-container{
        display: flex;
        flex-direction: column;
    }
    .nav-container img{
        padding: 5px 0;
    }
    .nav-navigation{
        width: 100%;
        margin: 10px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(255, 255, 255);
    }
    .nav-description{
        display: none !important; 
    }
    .nav-description {
        text-align: center;
    }
   
}
main{
    display: flex;
    flex-direction: column;
}
/* BERANDA*/
#beranda{
    display: flex;
    max-width: 1300px;
    width: 100%;
    min-height:450px;
    flex-wrap: wrap;
    background-image: url(../resources/img/bg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 720px) {
    #beranda{
        background-image: none;
        background-color: rgb(255, 255, 255);
    }
    #beranda-description{
        background-color: rgb(21, 53, 105);
    }
}
.content-beranda{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#beranda-description{
    padding: 1rem;
}
#beranda-description h1{
    color: white;
    padding: 2rem 0 .5rem 1rem;
}

#beranda-description div{
    margin: 3rem 0 .5rem 1rem;
    border: 0px solid grey;
    width: 7rem;
    height: fit-content;
    display: flex;
    justify-content: center;
    transition: .4s;
    cursor: pointer;
}
#beranda-description div p{
    background-color: #ffb700;
    width: 100%;
    padding: 1rem;
    text-align: center;
    transition: .4s;
}
#beranda-description div p a{
    text-decoration: none;
    color: white;
    text-align: center;
}
#beranda-description p{
    color: white;
    padding: 0 1rem;
    text-align: justify;
}
#beranda-description div:hover{
    border: 1px solid grey;
    transition: .4s;
}
#beranda-description div:hover p{
    transform: translate(20%,-30%);
    transition: .4s;
}

#vid-youtube{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 720px){
    #beranda{
        flex-direction: column;
    }
    h1{
        font-size: 2rem ;
    }
    .content-beranda,
    #vid-youtube{
        width: 100%;
    }
    #vid-youtube iframe{
        width: auto;
        height: 50%;
        margin: 1rem;
    }
    #beranda-description{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #beranda-description p {
        color: white;
        padding: 0;
        text-align: center;
        max-width: 90%;
    }
    #beranda #beranda-description h1{
        padding: 0;
        text-align: center;
        margin: 1rem 0;
    }
    #beranda-description div{
        margin: 2rem;
    }
}
.open-recruitment{
    display: flex;
    flex-direction: column;
}
.orc-title,
.recruit-link{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: .5rem 1rem;
}
.recruit-link{
    padding: 1rem 0;
}
.recruit-link a{
    display: flex;
    text-decoration: none;
    align-items: center;
    color: rgb(0, 34, 88);
}
.recruit-link a h3{
    margin-right: 6px;
}

/* PENGUMUMAN */
#pengumuman{
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    width: 100%;
    min-height:700px;
    background-color: #ffffff;
}
#pengumuman h2,
#tentang h2{
    display: flex;
    height: 100px;
    align-items: center;
    text-align: left;
    padding-left: 1rem;
}
#pengumuman .main-announcement{
    display: flex;
    min-height: 600px;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    width: 100%;
    color: white;
}
.announcement-info{
    color: black;
    width: 300px;
    height: 40rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}
.ann-inf-content{
    display: flex;
}
.ann-img-container{
    width: 100%;
    max-height: 25rem;
    overflow: hidden;
}
.ann-img-container img{
    width: 100%;
    height: 100%;
}
.ann-inf-main-content{
    background-color: rgb(255, 255, 255);
}
.ann-inf-main-content h3,
.ann-inf-main-content p{
    padding: 1rem;
}
.ann-inf-main-content h3 a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.ann-inf-header a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
div.more-info{
    background-color:rgb(21, 53, 105);
    color: white;
    width: 100%;
    position: relative;
}
div.more-info a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
div.more-info a p,
div.more-info a i{
    padding-right: 1rem;
    z-index: 2;
}
div.more-info a::after{
    content: '';
    width: 0;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    background-color: #ffb700;
    transition: .5s ease;
}
div.more-info a:hover::after{
    width: 100%;
    transition: .5s ease;
}

/* TENTANG */
#tentang{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    width: 100%;
    min-height:400px;
}
.tentang-main{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}
@media only screen and (max-width: 720px) {
    .tentang-main{
        flex-direction: column;
    }
    #tentang-dsc,
    #tentand-agt{
        width: 100%;
    }
}
.tentang-desc{
    display: flex;
}
#tentang-dsc h3,
#tentang-dsc p{
    padding: 0 1rem;
}
#tentang-dsc div{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.tentang-desc h3{
    font-size: 3rem;
    letter-spacing: 2px;
}
#tentang-dsc{
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding: 1rem;
    position: relative;
    color: white;
    background-color: rgb(21, 53, 105);
}

#tentang-agt{
    justify-content: center;
    width: 60%;
    padding: 1rem;
    background-color: white;
}
#tentang-dsc #masa-bakti{
    margin: .5rem 0;
}
.list-anggota{
    width: 25%;
    min-height: 10rem;
    margin: 1rem;
    background-color: #ffffff;
    box-shadow: -8px 10px rgb(230, 230, 230);
}
.list-anggota-desk{
    padding: 1rem;
}
.list-anggota .container-anggota{
    max-width: 100%;
}
.list-anggota .container-anggota img{
    width: 100%;
    height: auto;
}

#tentang-dsc .more-info a{
    padding-right: 1rem;
    cursor: pointer;
}

@media only screen and (max-width: 720px) {
    .tentang-main{
        flex-direction: column;
    }
    #tentang-dsc,
    #tentang-agt{
        width: 100%;
    }
    .list-anggota-desk h4,
    .list-anggota-desk p{
    text-align: center;
    }
    .list-anggota{
        width: 60%;
    }
    #tentang-agt{
        flex-wrap: wrap;
    }
}

/* KELOMPOK STUDI */
#kelompok-studi{
    margin-top: 5rem;
    display: grid;
    width: 100%;
    max-width: 1300px;
    min-height: 1200px;
    background-color: rgb(255, 157, 0);
    color: white;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 100px repeat(3,1fr);
    grid-template-areas: "ks-tittle ks-tittle ks-tittle ks-tittle ks-tittle"
                         "nomer-ksp deskripsi-ksp deskripsi-ksp deskripsi-ksp medsos-ksp"
                         "deskripsi-ksdg deskripsi-ksdg deskripsi-ksdg medsos-ksdg nomer-ksdg"
                         "nomer-ksl deskripsi-ksl deskripsi-ksl deskripsi-ksl medsos-ksl"   
    ;
}
.ks{
    color: black;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.ks-nomer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 16, 34);
}
.ks-nomer h1{
    font-size: 10rem;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.274);
}
.ks-dsk{
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    background-color: rgb(255, 255, 255);
}
.ks-medsos{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 0, 136, 0.76);
}
#ks-tittle{
    grid-area: ks-tittle;
    background-color: #ffffff;
}
#nomer-ksp{
    background-color: #f72585;
    grid-area: nomer-ksp;
}
#deskripsi-ksp{
    grid-area: deskripsi-ksp;
    background-color: #b5179e;
}
#medsos-ksp{
    grid-area: medsos-ksp;
    background-color: #7209b7;
}

#nomer-ksdg{
    grid-area: nomer-ksdg;
    background-color: #560bad;
}
#deskripsi-ksdg{
    background-color: #480ca8;
    grid-area: deskripsi-ksdg;
}
#medsos-ksdg{
    position: relative;
    grid-area: medsos-ksdg;
    background-color: #3a0ca3;
}
#nomer-ksl{
    background-color: #3f37c9;
    grid-area: nomer-ksl;
}
#deskripsi-ksl{
    background-color: #4361ee;
    grid-area: deskripsi-ksl;
}
#medsos-ksl{
    background-color: #4895ef;
    grid-area: medsos-ksl;
}
.ks-dsk h2,
.ks-dsk p{
    padding: .5rem 1rem;
}
.ks-dsk h2{
    padding-top: 1.5rem;
    font-size: 1.8rem;
    font-family: 'Poppins-ExtraBold';
}
.ks-dsk p{
    max-width: 75%;
}
#deskripsi-ksp p::after{
    content: 'KSP';
    position: absolute;
    font-size: 17rem;
    bottom: -35%;
    right: -12%;
    font-family: 'Ultra-Regular';
    color: rgba(255, 255, 255, 0.418);
}
#deskripsi-ksdg p::after{
    content: 'KSDG';
    position: absolute;
    font-size: 12rem;
    bottom: -25%;
    right: -10%;
    font-family: 'Ultra-Regular';
    color: rgba(255, 255, 255, 0.281);
}
#deskripsi-ksl p::after{
    content: 'KSL';
    position: absolute;
    font-size: 15rem;
    bottom: -30%;
    right: -5%;
    font-family: 'Ultra-Regular';
    color: rgba(255, 255, 255, 0.281);
}
.ks-medsos a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin: .5rem;
}
.ks-medsos .fa-line{
    color: rgb(255, 255, 255);
}
.mobile-socmed{
    display: none;
    padding: .5rem 1rem;
}
.mobile-socmed a{
    text-decoration: none;
    color: white;
    margin: 0 .5rem;
    font-size: 2rem;
}
@media only screen and (max-width: 720px){
    .ks-medsos{
        display: none;
    }
    #kelompok-studi{
        grid-template-areas: "ks-tittle ks-tittle ks-tittle ks-tittle ks-tittle"
                             "nomer-ksp deskripsi-ksp deskripsi-ksp deskripsi-ksp deskripsi-ksp"
                             "deskripsi-ksdg deskripsi-ksdg deskripsi-ksdg deskripsi-ksdg nomer-ksdg"
                             "nomer-ksl deskripsi-ksl deskripsi-ksl deskripsi-ksl deskripsi-ksl"   
        ;
    }
    #deskripsi-ksp p::after{
        font-size: 6rem;
        bottom: -10%;
        right: -8%;
    }
    #deskripsi-ksdg p::after{
        font-size: 5rem;
        bottom: -8%;
        right: -10%;
    }
    #deskripsi-ksl p::after{
        font-size: 5rem;
        bottom: -7%;
        right: -5%;
    }
    .ks-dsk p{
        max-width: 100%;
    }
    .ks-dsk h2{
        padding-top: 1.5rem;
        font-size: 1.4rem;
        font-family: 'Poppins-ExtraBold';
    }
    .mobile-socmed{
        display: flex;
    }
}
/* FOOTER */
footer{
    display: flex;
    min-height: 200px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1300px;
    background-color: rgb(0, 34, 88);
}
footer > p{
    color: white;
    letter-spacing: 5px;
    padding: 0 1rem;
    text-align: center;
}
.footer-socmed{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-socmed a{
    color: rgb(61, 60, 60);
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin: 10px;
    padding: 20px;
    width: 3rem;
    justify-content: center;
    background-color: white;
    overflow: hidden;
    transition: .4s;
    overflow: hidden;
    border-radius: 60px;
    max-height: 2rem;
}

footer .footer-socmed a i{
    font-size: 1.2rem;
}
footer .footer-socmed a[href*="line"]:hover{
    background-color: rgb(66, 194, 43);
    transition: .4s;
    color: white;
}
footer .footer-socmed a[href*="instagram"]:hover{
    background-color: rgb(255, 0, 98);
    transition: .4s;
    color: white;
}
footer .footer-socmed a[href*="facebook"]:hover{
    background-color: rgb(46, 110, 212);
    transition: .4s;
    color: white;
}
footer .footer-socmed a[href*="twitter"]:hover{
    background-color: rgb(65, 178, 243);
    transition: .4s;
    color: white;
}
footer .footer-socmed a[href*="youtube"]:hover{
    background-color: rgb(255, 0, 0);
    transition: .4s;
    color: white;
}
footer .footer-socmed a[href*="linked"]:hover{
    background-color: rgb(9, 55, 155);
    transition: .4s;
    color: white;
}
footer .footer-socmed a[href*="linktr"]:hover{
    background-color: rgb(17, 230, 148);
    transition: .4s;
    color: white;
}

.footer-nav{
    display: flex;
    flex-wrap: wrap;
}
.footer-nav a{
    color: white;
    text-decoration: none;
    margin: .5rem 1rem;
}
@media only screen and (max-width: 720px) {
    footer{
        min-height: 300px;
    }
    footer .footer-socmed a[href*="line"]{
        background-color: rgb(66, 194, 43);
        color: white;
    }
    footer .footer-socmed a[href*="instagram"]{
        background-color: rgb(255, 0, 128);
        color: white;
    }
    footer .footer-socmed a[href*="facebook"]{
        background-color: rgb(46, 110, 212);
        color: white;
    }
    footer .footer-socmed a[href*="twitter"]{
        background-color: rgb(65, 178, 243);
        color: white;
    }
    footer .footer-socmed a[href*="youtube"]{
        background-color: rgb(255, 0, 0);
        color: white;
    }
    footer .footer-socmed a[href*="linked"]{
        background-color: rgb(9, 55, 155);
        color: white;
    }
    footer .footer-socmed a[href*="linktr"]{
        background-color: rgb(17, 230, 148);
        color: white;
    }
}