@font-face {
    font-family:'Poppins-Regular';
    src: url(../resources/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url(../resources/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url(../resources/fonts/Poppins-ExtraBold.ttf);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body{
    font-family: 'Poppins-Regular';
    scroll-behavior: smooth;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(29, 46, 94);
    width: 100%;
    max-width: 1300px;
    min-height: 3rem;
    transition: .4s;
    padding: 10px;
}
header img{
    width: 6rem;
    height: auto;
}
header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
}
header ul a{
    text-decoration: none;
    color: white;
    margin: 0 1rem;
    position: relative;
}
header ul a li{
    display: inline-block;
    text-decoration: none;
}
header ul a li::after{
    content: '';
    left: 0;
    top: 120%;
    position: absolute;
    width: 0%;
    height: 2px;
    transition: .4s;
    background-color: rgb(255, 255, 255);
}
header ul a li:hover::after{
    width: 100%;
}
.nav-navigation,
nav form i {
    cursor: pointer;
}
nav{
    top: 0;
    position: sticky;
    width: 100%;
    max-width: 1300px;
    height: 4rem;
    background-color: rgb(21, 53, 105);
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .3s;
    flex-wrap: wrap;
}
nav .fa-bars,
nav .fa-times{
    display: none;
}
.nav-container img{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    height: auto;
    width: 10rem;
    margin: 10px;
    transition: .4s;
}
.nav-container{
    display: flex;
}
.nav-navigation{
    position: relative;
    width: 20%;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.nav-navigation i{
    margin: 0 5px;
}

.nav-description{
    width: 300px;
    background-color: rgb(255, 255, 255);
    left: 0;
    top: 85%;
    color: black;
    display: none;
    position: absolute;
    border-radius: 10px;
    z-index: 2;
}
.nav-description a{
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
    position: relative;
}
.nav-description a::after{
    content: '';
    left: 5%;
    top: 80%;
    position: absolute;
    width: 0%;
    height: 2px;
    transition: .4s;
    background-color: rgba(0, 34, 88, 0.87);
}
.nav-description a:hover::after{
    width: 50%;
    transition: .4s;
}
.nav-navigation:hover .nav-description{
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    margin: 0 1rem;
}
form input{
    padding: 10px;
    outline: none;
    border: none;
    border-left: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
form .fa-search {
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: white;
    background-color: rgb(214, 214, 214);
}
@media only screen and (max-width: 720px){
    nav{
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;
        height: 3.2rem;
    }
    nav form{
        display: none;
        padding:5px 0 0 0;
    }
    nav .fa-bars{
        display: flex;
        color: rgb(255, 255, 255);
        font-size: 2rem;
        cursor: pointer;
        padding: 10px 0;
        align-self: flex-start;
    }
    .nav-container{
        display: flex;
        flex-direction: column;
    }
    .nav-container img{
        padding: 5px 10px;
    }
    .nav-navigation{
        width: 100%;
        margin: 10px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(255, 255, 255);
    }
    .nav-description{
        display: none !important; 
    }
    .nav-description {
        text-align: center;
    }
   
}
main{
    height: 200vh;
    width: 100%;
    max-width: 1300px;
}